# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

UP     4   # 'UP'
DOWN   17  # 'DOWN'
LEFT   27  # 'LEFT'
RIGHT  22  # 'RIGHT'
A      5   # 'A'
B      6   # 'B'
X      13  # 'X'
Y      26  # 'Y'
ENTER  16  # 'START'
SPACE  20  # 'SELECT'
L      12  # 'L1'
R      23  # 'R1'
ESC    16 20 # 'EXIT'
